
/frontend/node_modules
/backend/TaskNest/bin/Debug/net8.0
/backend/.vs/ProjectEvaluation
/backend/.vs/TaskNest/CopilotIndices/0.2.1657.32929
/backend/.vs/TaskNest
/backend/TaskNest/bin/Debug/net8.0
/backend/TaskNest/bin/Debug/net8.0
/backend/TaskNest/bin/Debug
/backend/TaskNest/bin
backend/TaskNest/obj/Debug/net8.0/refint/TaskNest.dll
/backend/TaskNest/obj/Debug/net8.0
